.mainNav{
  background-color: blue;
  padding: 15px 30px;
}

/* html de link etiketi <a></a> olduğu için */
.mainNav a{
  color : white;
  text-decoration: none;
  margin-right: 20px;
}

/* linke tıklandığında active özelliği ile hangisine tıklandığını belli etmek için bu şekilde css yazabiliriz */
.mainNav a.active{
  font-weight: bold;
  font-size: 20px;
}